@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	background: url(../img/Asset.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	z-index:-88;
	  
}
header,section{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
body{
      overflow-x: hidden; 
}
html {
  scroll-behavior: smooth;
}
nav{
    background-color:white;
    }
	
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}	
section{
   overflow-x:hidden;
}
.section-1{
	height:100vh;
}	
.img{
	height:88vh;
	background:url(../img/align.png);
    background-position: center;
    background-size: cover;
}

/*  
  .section-2 .row .col-md-6:last-child {
	position: relative;
  }
  .panel h1 {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	padding: 0.4em 0;
	font-size: 3em;
  }
   .panel p {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 700;
    font-style: normal;
    font-size:1rem;
    line-height: 1.111vw;
    letter-spacing: 0.02em;
	font-family: 'Encode Sans Expanded', sans-serif;
	line-height:1.5rem;
	
  }
.first{
	    background: #5f34a4;
	    transform: rotate(10deg) translateX(-50%);
		opacity:80%;
}
.second {
    background: #232a34;
    transform: rotate(-10deg) translateX(-50%);
	opacity:80%;
}
.third{
	    transform: translateX(-50%);
}
.first,.second,.third{
    display: inline-block;
    height: 25.9375em;
    width: 41.25em;
    position: absolute;
    transform-origin: left;
}
iframe{
	width:40rem;
	height:24rem;
}
  
  .section-2 .row .col-md-6 .panel {
	top: 7vmin;
	left: -18vmin;
	text-align: left;
	padding: 10vmin 5vmin 10vmin 10vmin;
	font-family: var(--Rubik);
  }
  */
  
  
  /*new*/
   
.first{
	 background:#9e80bd;
	 transform: rotate(10deg);
     opacity:80%;
}
.second {
    background:  #cea6f7;
    transform: rotate(-10deg);
	opacity:50%;
}
.section-2 h1 {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	padding: 0.4em 20px;
	font-size: 3em;
}

  
.section-2 p{
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.6);
	font-weight:500;
	font-family:sans-serif;
}
.section-2 .container-fluid{
    padding:0 5rem 0 5rem;
 }
.section-2 .one{
	padding:0 1.5rem;
	margin: 20px 20px 20px 0;
}	
	 
	@media (max-width: 500px){
     .section-2 .row{
		  flex-direction:column;
		  flex-flow:row wrap;
     }
	 .section-2 p{
	  font-size: 0.8em;
	 }
	 .section-2 .one{
	     padding:0 1rem;
		 margin: 10px;
     }	 
     .section-2{
        padding: 0  1rem 0 0;
    }
	 .section-2 h1 {
		 padding: 0.15em 0;
		 margin:0;
	     font-size: 2.5em;
	 }
     .section-2 .container-fluid{
        padding:0 2rem 0 0rem;
     }
     .image__overlay p{
         font-size: 0.7rem;
         padding:  0  1.5em;
     }
  .image__title{
        font-size: 2.5em;
        font-weight: bold;
    }
     .image{
         padding-bottom: 0.5em;
     }
     
  }
	
.first,.second{
    display: inline-block;
    height: 20rem;
    width: 30rem;
    position: absolute;
}

iframe{
	height:20rem;
    width: 30rem;
}
.third{
	z-index:999;
	position: absolute;
	display: inline-block;
}
@media (max-width: 1300px){
	 .first,.second,.third,iframe{
		 width:330px;
		 height:250px;
	 }
	 .trailer{
		 height:30vh;
		 padding-top:1rem;
	 }
}	  
  /*end*/
  
  .about{
	  padding-right:6rem;
  }
  
 .gallery-h3{
	font-weight: 500;
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
    letter-spacing: 0.02em;
    line-height:3rem;	
}
	 
.image {
    position: relative;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background:rgba(0, 0, 0, 0.3);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 1.5em;
    font-weight: bold;
}

.image__description {
    font-size: 0.9em;
    margin-top: 0.25em;
    padding:  0  2.25em;
}
@media (max-width: 500px){
    .image__title {
        font-size: 1.5em;
        font-weight: bold;
    }
    .first,.second,.third,iframe{
        width:280px;
        height:210px;
    }
}
@media (max-width: 350px) {
    .first,.second,.third,iframe{
        width:240px;
        height:180px;
    }
}
@media (max-width: 890px) and (min-width : 770px){
    .image__description{
        font-size: 0.7em;
    }
}

.box{
	padding-top:1rem; 
	border-bottom:1px solid black;
	margin-left:6rem;
	margin-right:12rem;
}
/*
 iframe{
	 width:660px;
	 height:415px;
 }
 
@media (max-width: 768px){
	 .first,.second,.third,iframe{
		 width:330px;
		 height:250px;
	 }
	 .trailer{
		 height:30vh;
		 padding-top:1rem;
	 }
}
@media (min-width: 768px){
	 .trailer{
	padding-top:6rem;
	padding-bottom:6rem;
}
}
 */