*{
	margin:0;
	padding:0;

}
html{
	scroll-behavior: smooth;
}

body{
	width:100%;
}

.colored-section{
	background-color: black;	
	/*background-image: url("img/acap/acap2019.jpg");*/
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}

/*.container-bg-custom{
	

}*/
.dropdown-item{
	line-height: 1.7;
}
.dropdown-menu:li {
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    
 }


.acap-car{
	background-color: black;
	height:37.3rem;
	width:100%;
	object-fit: cover;
}


.overview-picture{
	height: 16rem;
	/*background-color:grey;*/
	width: 50rem;
}
.

.acap-heading{
	margin-left: 7rem;
	padding-top: 4rem;
	color:#162740;


}

.dots-1{
	color:white;
	font-size:7rem;
	position:absolute;
	bottom:7rem;
	right:0.01rem;
	transform: rotate(90deg);

}

#overview{
	height:30rem;
}

.overview-heading{
	/*text-align: center;*/
	margin-top: 6rem;
	padding-left: 32%;
	color:#5b83b6;
}

.summary{
	margin-top: 2.5rem;
	margin-bottom:2.5rem;
	padding-right: 4rem;
	padding-left:1rem;
	position:relative;
	top:0.8rem;

	/*margin-left:-1rem;*/

}

#bullets{
	margin-top:0.8rem;
	background-color:white/*#2A2A4B*/;
	background-image: linear-gradient(to left, #42428D, white)
	opacity: 0.1;

}

.what-we-serve{
	background-color:black;
	height:23.75rem;
	/**/
}


.bullet-points{
	margin-left:2.5rem;
	margin-top:3rem;
	line-height: 1.2;
	/*font-size: 1.1em;*/
	padding-right:2rem;
	

}

.bullet-list{
	list-style: none;
}
.reg-buttons-li{
	width:16rem;
}

#footer{
	background-color: #171729;
	height:18rem;
}

.footer-top-left{
	height:12rem;
	background-image: linear-gradient(to bottom right, #1a1a2e, #342b2d);
	color:white;
	padding-top:1.8rem;
}

.footer-top-right{
	padding:1.8rem;
	color:#eef0ef;

}

.dots{
	font-size: 2em;
	position:relative;
	bottom:2.5rem;
}

.bar{
	font-size:3em;
	color:white;
	position:absolute;
	top:-2.8rem;
	left:2rem;


}

.icon{
	font-size: 2em;
	color:white;
	position:absolute;
	top:-1rem;
	
}
#copyright{
	background-color: black;
	text-align:center;
	color:grey;
}