@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
/* 
* {
  box-sizing: border-box;
} */
*{
	margin:0;
	padding:0;
}
html{
	scroll-behavior: smooth;
 
}
body{
	width:100%;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
.header,
section {
  overflow-x: hidden;
}
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #3fcef1, #e9e3e3);
  --light-gray: rgba(255, 255, 255, 0.877);
}
.header a {
    font-family: "Sniglet",cursive;
    font-size: 0.9em;
    color: whitesmoke;
  }
  .navbar{
    font-size: 1.1rem;
  }
  .nav-link{
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .navbar-brand img{
    height: 4.5rem;
    width: 11rem;
  }
  .nav-item:hover .nav-link{
    background-color: gray;
    border-radius:  2px;
  }
  .dropdown:hover .dropdown-menu {   
    display: block;
    margin-top: 0; 
  }
  .dropdown-item{
    text-align: center !important;
    padding-bottom: 20px !important;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .header .nav-item:last-child {
    padding-right: 10.5em;
  }
  
  .header .nav-item {
    padding: 0.9em;
  }
  
  .header .navbar-brand {
    padding-left: 8rem;
  }
  
  .header .nav-link:hover {
    color: black;
  }
  
  .header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
  }
  
  .header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
  }
  

  .header .row .col-md-5 img {
    width: 90%;
  }
  .header{
    /* fallback for old browsers */
    background-image: url(/img/talks.jpg);
    background-size: cover;
    background-position: center;
    
  }
  
  .header .container .col-md-7 {
    font-family: 'Raleway', sans-serif;
  }
  
  .header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 3px;
  }
  
  .header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bolder;
    padding: 0.1em 0em;
  }
  
  .header .container .col-md-7 p {
    padding: 1vmin 5vmin;
  }
  
  .primary-btn {
    border-radius: 30px;
    font-weight: bold;
  }
  
	.progress-bar-purple {
      background-color: #00416d !important;
	  height:0.7rem;
}


.section-1 {
	padding: 5vmin 0vmin;
  }
  
  .section-1 .panel {
	top: 7vmin;
	left: -18vmin;
	background: whitesmoke;
	border-radius: 3px;
	text-align: left;
	padding: 5vmin 5vmin 5vmin 5vmin;
	box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
	font-family: var(--Rubik);
	z-index: 1;
  }
  
  .section-1  .panel h1 {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	padding: 0.4em 0;
	font-size: 3em;
  }
  
  .section-1 .panel p {
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.5);
  }
  .section-1 {
    padding: 0.5vmin 0vmin;
    }
    .section-1 .row .col-md-6 img {
    width: 100%;
    border-radius: 0.2em;
    }
    #padding{
      padding: 4vmin;
    }
    .section-1 .row .col-md-6:last-child {
    position: relative;
    } 
    .section-1 .row .col-md-6 .panel {
    background: white;
    border-radius: 3px;
    text-align: center;
    padding: 4vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
    }
    .section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 0.4em 0;
    font-size: 3em;
    }
    .section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
    }
    .section-2 {
      padding: 5vmin 0vmin;
      background-color: transparent;
      } 
      .section-2 .container .row .col-md-12 .pray img {
      opacity: 0.8;
      width: 100%;
      border-radius: 0.2em;
      }
      .img-fluid{
        padding: 5%;
      }
      .section-2 .row .col-md-12:last-child {
      position: relative;
      }
      .section-2 .row .col-md-12 .panel {
      top: 7vmin;
      left: -18vmin;
      background: whitesmoke;
      border-radius: 3px;
      text-align: left;
      padding: 5vmin 5vmin 5vmin 5vmin;
      box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
      font-family: var(--Rubik);
      z-index: 1;
      }
      .section-2 .row .col-md-12 .panel h1 {
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      padding:0;
      font-size: 3em;
      }
      .section-2 .row .col-md-12 .panel p {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.5);
      }
      .prev1{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
       }
       .next1{
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
       }
      .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
        } 
        /* Create four equal columns that sits next to each other */
        .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        } 
        .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        }
        .img-fluid{
          width:100%;
          height: auto;
          object-fit:cover;
      }
    #footer{
      background-color: #23232b;
      height: 20rem;
    }
    .footer-top-left{
      height:12rem;
      background-image: linear-gradient(to bottom right, #283949, #342b2d);
      color:white;
      padding-top:1.8rem;
    }
    .footer-top-right{
      padding:1.8rem;
      color:#eef0ef;
    
    }
    .dots{
      font-size: 2em;
      position:relative;
      bottom:2.5rem;
    }
    .bar{
      font-size:3em;
      color:white;
      position:absolute;
      top:-2.8rem;
      left:2rem;
    }
    .icon{
      font-size: 2em;
      color:white;
      position:absolute;
      top:-1rem;  
    }
    #copyright{
      background-color: black;
      text-align:center;
      color:grey;
    }
    