@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
body {
    background: linear-gradient(to right, #70CEF4, #204C8D,#18244A);
    background-image: url(../img/form-bg.jpeg);
    background-size: cover;
}

.con {
    background: #FFFFFF;
    max-width: 60vw;
    height: 700px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
    /* transform: scale(1.25); */
    transform-origin: 0 0;
}

.logo {
    margin-right: 20px;
    text-align: right;
    font-size: 100%;
    color: #284B95;
    font-weight: 900;
}

.CTA {
    width: 80px;
    height: 40px;
    right: -20px;
    bottom: 0;
    margin-bottom: 90px;
    position: absolute;
    z-index: 1;
    background: #284B95;
    font-size: 1em;
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.CTA h1 {
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 9px;
}

.CTA:hover {
    background: #3FB6A8;
    transform: scale(1.1);
}

.leftbox {
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 27;
    height: 105%;
    background: #4b75cf;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.leftbox nav a {
    list-style: none;
    padding: 35px;
    color: #FFFFFF;
    font-size: 1.1em;
    display: block;
    transition: all 0.3s ease-in-out;
}

.leftbox nav a:hover {
    color: #3FB6A8;
    transform: scale(1.2);
    cursor: pointer;
}

.leftbox nav a:first-child {
    margin-top: 7px;
}

.active {
    color: #3FB6A8;
}

.rightbox {
    float: right;
    width: 60%;
    height: 100%;
}

.profile,
.payment,
.subscription,
.privacy,
.settings {
    transition: opacity 0.5s ease-in;
    position: absolute;
    width: 70%;
}

.rightbox h1 {
    font-family: "Montserrat", sans-serif;
    color: #3e63b3;
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 35px;
}

.rightbox h2 {
    color: #777777;
    font-family: "Roboto", sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 2px;
}

.rightbox p {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
    border-top: 0;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7em;
    padding: 7px 0;
    color: #070707;
}

.rightbox span {
    font-size: 0.5em;
    color: #777777;
}

.btn {
    float: right;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    color: #3FB6A8;
}

.btn:hover {
    text-decoration: underline;
    font-weight: 900;
}

input {
    border: 1px solid #dddddd;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    margin: 0;
}

.privacy h2 {
    margin-top: 25px;
}

.settings h2 {
    margin-top: 25px;
}

.noshow {
    opacity: 0;
}

footer {
    position: absolute;
    width: 20%;
    bottom: 0;
    right: -20px;
    text-align: right;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

footer p {
    border: none;
    padding: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #7d7d7d;
}

h1{
    font-size: 150%;
}