@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.nb .navbar {
    font-size: 1.1rem;
}

.navbar-light .navbar-toggler {
    color: rgb(0 0 0);
    border-color: rgb(0, 0, 0);
}

.nb .nav-link {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.nb .navbar-brand img {
    height: 4.5rem;
    width: 7rem;
    margin-right: 9rem;
}

.nb li {
    list-style: none;
}

.nb ul li a .text {
    color: #ffffff;
}

.nb ul li a .icons {
    /*display: none;*/
    position: relative;
    display: block;
    font-size: 2em;
    text-align: center;
    transition: 0.5s;
    color: white;
}

.nb ul li.active a .icons {
    opacity: 1;
}

.nb ul li.active .nav-link {
    background-color: #6f9bfa;
}

.nb ul li:hover a .icons {
    opacity: 1;
    transform: translateY(10px);
}

.nb .nav-item:hover .nav-link {
    background-color: #6f9bfa;
}

.container-fluid{
    background-color: #384f7e;
}
