.navbar {
    font-size: 1.1rem;
}

.nav-link {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.navbar-brand img {
    height: 4.5rem;
    /* width: 7rem; */
}

.nav-item:hover .nav-link {
    background-color: gray;
    border-radius: 2px;
}

.dropdown-menu {
    display: none;
    transition: all 2s ease-in;
}

.dropdown:hover .dropdown-menu {
    display: block;
    animation-name: delay;
    animation-duration: 1.2s;
    transition: 2s ease-in;
}

.dropdown:hover {
    transition: 2s ease-in;
    transition-delay: 2s;
}

.dropdown-item {
    text-align: center !important;
    padding-bottom: 20px !important;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.xyz {
    padding-bottom: 10px;
}

@keyframes delay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}