body{
    font-family: 'Montserrat', sans-serif;
    position:relative;

}
hr{
  border-bottom: solid #0278ae 1mm;
}
.mod{
  top: 14%;
  left: 2%;
  z-index: 4;
  display:contents;
}
h2
{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding: 0.4em 0;
  font-size: 3em;
}

@media only screen and (max-width: 775px) {
  .col-sm-12 {
    padding-bottom:2%;
    padding-top:2%;
  }
}
.progress-bar-purple {
      background-color: #00416d !important;
	  height:0.7rem;
}
