@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
/*
* {
  box-sizing: border-box;
} */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
header,
section {
  overflow-x: hidden;
}
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #3fcef1, #e9e3e3);
  --light-gray: rgba(255, 255, 255, 0.877);
}
header a {
  font-family: "Sniglet", cursive;
  font-size: 0.9em;
  color: whitesmoke;
}
.navbar {
  font-size: 1.1rem;
}
.nav-link {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.navbar-brand img {
  height: 4.5rem;
  width: 11rem;
}
.nav-item:hover .nav-link {
  background-color: gray;
  border-radius: 2px;
}

.accordion-button:not(.collapsed){
  color: #000000 !important;
  background-color: #ffffff !important;
  font-size: 24px !important;
  font-family: revert !important;
  display: block !important;
  text-align: center !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-item {
  text-align: center !important;
  padding-bottom: 20px !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}
header {
  /* fallback for old browsers */
  background-size: cover;
  background-position: center;
}

header .container .col-md-7 {
  font-family: "Raleway", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 3px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bolder;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

main {
  background: var(--bggradient);
}

.progress-bar-purple {
  background-color: #00416d !important;
}

.section-2 {
  padding: 5vmin 0vmin;
  background-color: transparent;
}

.section-2 .container .row .col-md-12 .pray img {
  opacity: 0.8;
  width: 100%;
  border-radius: 0.2em;
}
.img-fluid {
  padding: 5%;
}
.section-2 .row .col-md-12:last-child {
  position: relative;
}

.section-2 .row .col-md-12 .panel {
  top: 7vmin;
  left: -18vmin;
  background: whitesmoke;
  border-radius: 3px;
  text-align: left;
  padding: 5vmin 5vmin 5vmin 5vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-2 .row .col-md-12 .panel h1 {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  padding: 0.4em 0;
  font-size: 3em;
}

.section-2 .row .col-md-12 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service-card {
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 0.1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 0.1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 0.1);
  margin-bottom: 10%;
  width: 100%;
  
  
  height: 90%;
}
.card{
  height: 100%;
}
.service-card:hover {
  box-shadow: 4px 4px 4px rgba(58, 105, 243, 0.3);
  -webkit-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  transform: translate(0, -8px);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  object-fit: cover;
  object-position: top;
}

.contact-icon {
  font-size: 1rem;
  color: #52575d;
}

.team {
  list-style: none;
  font-size: 90%;
  color: #686d76;
  text-align: left;
}
.former-team-text {
  text-align: left;
  position: relative;
  left: 3.6rem;
}
#footer {
  background-color: #23232b;
  height: 20rem;
}

.footer-top-left {
  height: 12rem;
  background-image: linear-gradient(to bottom right, #283949, #342b2d);
  color: white;
  padding-top: 1.8rem;
}

.footer-top-right {
  padding: 1.8rem;
  color: #eef0ef;
}
.dots {
  font-size: 2em;
  position: relative;
  bottom: 2.5rem;
}
.bar {
  font-size: 3em;
  color: white;
  position: absolute;
  top: -2.8rem;
  left: 2rem;
}
.icon {
  font-size: 2em;
  color: white;
  position: absolute;
  top: -1rem;
}
#copyright {
  background-color: black;
  text-align: center;
  color: grey;
}

.accordion-button{
  display: block !important;
  text-align: center !important;
  font-size: 1.2rem !important; 
}

.accordion-button:focus{
  box-shadow: none !important;
}
/* .accordion-button:not(.collapsed){
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  font-family: revert;
  display: block;
  text-align: center;
} */

