.mod-img{
  display: inline-block;
  padding-right: 0;
  max-height: 400px;
}
.modal-content{
  display: inline-block;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding:2%;
  border: 0;
}
.modal-dialog{
  width:80%;
  max-width: 50%;
  height: 90%;

}
.modal-header{
  font-family: 'Raleway', sans-serif;
}
.modal-body{
  font-family: 'Raleway', sans-serif;
}
@keyframes fadeleft {
  0%{
    left: -80%;

  }
  100%{
    left: 0%;
  }

}
.modal{
  animation: fadeleft 1s ease-out ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
}
#extrafield2{
  display:none;
}
#extrafield3{
  display:none;
}
#f1{
  display: none;
}
.progress-bar-purple {
      background-color: #00416d !important;
	  height:0.7rem;
}
