
body{  animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
nav ul a,
nav .brand-logo {
  color: #444;
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.text
{
  padding:20px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif; 
}
.smalltext
{
   padding:10px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif; 
  font-weight: 500;
}
.menuheading
{
  font-size: 22px;
  font-family: 'Raleway', sans-serif; 
  text-align: center;
  font-weight: 600;
  text-transform:uppercase;
}
.nav-wrapper ul a
{
  font-family: 'Raleway', sans-serif; 
  font-weight: 500;

}
